{% extends 'base.html.twig' %}

{% block title %}FAF - Jeux{% endblock %}

{% block body %}
    <h1>Les {{pages|length}} jeux:</h1>

    {% for page in pages %}
        <h2><a href="{{ path('app_pagejeu_show', {id:page.id})}}">{{ page.title }}</a></h2>
        <p>{{ page.description }}</p>
    {% endfor %}
{% endblock %}
